In [1]:
import pandas as pd

In [7]:
df=pd.read_csv("/run/media/magus/data/wd/omdena/eco_smart_ai_dhaka/src/data/air quality data/A Real-time Dataset of Air Pollution Monitoring Generated Using IoT/my_ap_dataset.csv")

In [11]:
df.tail()

,date,Station code,Address,Latitude,Longitude,SO2,NO2,CO,O3,PM2.5,PM10
155400,12/31/2022 19:00,103,"Tongi, Gazipur, Bangladesh",23.894144,90.404219,0.02,0.030,3.5,0.1100,59,99
155401,12/31/2022 20:00,103,"Tongi, Gazipur, Bangladesh",23.894144,90.404219,0.02,0.030,3.5,0.1000,61,101
155402,12/31/2022 21:00,103,"Tongi, Gazipur, Bangladesh",23.894144,90.404219,0.02,0.028,3.5,0.1000,62,100
155403,12/31/2022 22:00,103,"Tongi, Gazipur, Bangladesh",23.894144,90.404219,0.02,0.042,3.6,0.0525,65,106
155404,12/31/2022 23:00,103,"Tongi, Gazipur, Bangladesh",23.894144,90.404219,0.02,0.037,3.5,0.0400,64,104

In [10]:
locations = df['Address'].unique()

print(locations)

['Kuril Bishow Road, Dhaka, Bangladesh' 'Uttara, Dhaka, Bangladesh'
 'Tongi, Gazipur, Bangladesh']

In [12]:
locations = df['Latitude'].unique()

print(locations)

[23.820612 23.851008 23.894144]

In [13]:
locations = df['Longitude'].unique()

print(locations)

[90.421011 90.371365 90.404219]

In [14]:
df=pd.read_csv("/run/media/magus/data/wd/omdena/eco_smart_ai_dhaka/src/data/air-pollution-data/my_ap_dataset.csv")

In [15]:
df

,date,Station code,Address,Latitude,Longitude,SO2,NO2,CO,O3,PM2.5,PM10
0,1/1/2017 0:00,101,"Kuril Bishow Road, Dhaka, Bangladesh",23.820612,90.421011,0.04,0.059,1.2,0.0525,57,73
1,1/1/2017 1:00,101,"Kuril Bishow Road, Dhaka, Bangladesh",23.820612,90.421011,0.04,0.058,1.2,0.0525,59,71
2,1/1/2017 2:00,101,"Kuril Bishow Road, Dhaka, Bangladesh",23.820612,90.421011,0.04,0.056,1.2,0.0525,59,70
3,1/1/2017 3:00,101,"Kuril Bishow Road, Dhaka, Bangladesh",23.820612,90.421011,0.04,0.056,1.2,0.0525,58,70
4,1/1/2017 4:00,101,"Kuril Bishow Road, Dhaka, Bangladesh",23.820612,90.421011,0.03,0.051,1.2,0.0525,61,69
...,...,...,...,...,...,...,...,...,...,...,...
155400,12/31/2022 19:00,103,"Tongi, Gazipur, Bangladesh",23.894144,90.404219,0.02,0.030,3.5,0.1100,59,99
155401,12/31/2022 20:00,103,"Tongi, Gazipur, Bangladesh",23.894144,90.404219,0.02,0.030,3.5,0.1000,61,101
155402,12/31/2022 21:00,103,"Tongi, Gazipur, Bangladesh",23.894144,90.404219,0.02,0.028,3.5,0.1000,62,100
155403,12/31/2022 22:00,103,"Tongi, Gazipur, Bangladesh",23.894144,90.404219,0.02,0.042,3.6,0.0525,65,106
155404,12/31/2022 23:00,103,"Tongi, Gazipur, Bangladesh",23.894144,90.404219,0.02,0.037,3.5,0.0400,64,104